* {
    box-sizing: content-box;
}

html,
body {
    margin: 0;
    
}

#footer {
    position: fixed;
    bottom: 10px;
    text-align: center;
    width: 100%;
    font-family: "Source Serif 4", serif;
    color: #fff;
}

#menu {
    position: fixed;
    top: 10px;
    text-align: center;
    width: 100%;
    font-family: "Source Serif 4", serif;
}

#menu ul {
    padding: 0;
}

#menu li {
    display: inline;
}

#menu a {
    font-size: 20px;
    text-decoration: none;
    color: #fff;
}

#menu ul li:not(:last-child):after {content: ' / '; padding-left: 5px; padding-right: 5px; color: #fff;}

#bgvd {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    min-width: 100%;
    min-height: 100%;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    object-fit: cover;
  }
  
#dd{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
  }

.title {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
    color: #fff;
    font-weight: 100;
    font-size: 3em;
    font-family: 'Pacifico', cursive;
}

.title .avatar {
    width: 40px;
    height: 40px;
    background-image: url(../img/avatar.jpg);
    display: inline-block;
    border-radius: 50%;
    background-size: 100%;
}

h1 {
    font-size: 40px;
    display: inline;
    font-weight: 400;
}

#text {
    position: fixed;
    color: #fff;
    font-size: 40px;
    top: 40%;
    text-align: center;
    width: 100%;
}

#text a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-family: "Source Serif 4", serif;
    font-optical-sizing: auto;
    font-weight: 400;
}

#st {
    position: fixed;
    color: #fff;
    font-size: 15px;
    text-align: center;
    width: 80vw;
    max-width: 650px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    font-family: "Source Serif 4", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.car {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.car img {
    position: fixed;
    bottom: 0;
    max-width: 800px;
    width: 80vw;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
}